
// Fonts
$primary-font: 'Roboto', sans-serif;

// Colors
$primary-color: #db3a34;
$secondary-color: #ff9f1c;
$accent-color: #e8e9eb;
$dark-color: #210203;

$grey-color: #758173;
$link-color: #39a0ed;
